<nav class="navbar">
  <div class="navbar-logo" routerLink="/" style="cursor: pointer; transition: opacity 0.2s;" onmouseover="this.style.opacity=0.8" onmouseout="this.style.opacity=1">Pooking.com</div>
  <div class="navbar-actions">
    <div
      *ngFor="let item of navItems"
      class="nav-icon-wrapper"
      (mouseenter)="showTooltip(item.tooltip)"
      (mouseleave)="hideTooltip()"
      (click)="toggleDropdown(item.id, $event)"
      style="position: relative;"
    >
      <span class="material-icons nav-icon">{{ item.icon }}</span>
      <span class="tooltip" [class.visible]="activeTooltip === item.tooltip && !showUserDropdown">
        {{ item.tooltip }}
      </span>

      <!-- Dropdown for user icon -->
      <div class="user-dropdown" *ngIf="item.id === 'user' && showUserDropdown">
        <ng-container *ngIf="!isLoggedIn">
          <a routerLink="/login" class="dropdown-item" (click)="showUserDropdown = false">
            <span class="material-icons">login</span> Login
          </a>
          <a routerLink="/signup" class="dropdown-item" (click)="showUserDropdown = false">
            <span class="material-icons">person_add</span> Registrarse
          </a>
        </ng-container>
        <ng-container *ngIf="isLoggedIn">
          <a routerLink="/profile" class="dropdown-item" (click)="showUserDropdown = false">
            <span class="material-icons">person</span> Mi Perfil
          </a>
          <a *ngIf="isAdmin" routerLink="/admin" class="dropdown-item" (click)="showUserDropdown = false">
            <span class="material-icons">dashboard</span> Dashboard
          </a>
          <a (click)="logout()" class="dropdown-item" style="cursor: pointer;">
            <span class="material-icons">logout</span> Cerrar Sesión
          </a>
        </ng-container>
      </div>
    </div>
  </div>
</nav>
